<!DOCTYPE html>
<html>

<head>
  <title>Upload Lecture</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="css/tailwind.output.css" />
  
  <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="row">
    <div class="col-md-12">
      <form action="/uploadlec" method="post">
        <h1> Upload Lecture </h1>
        <fieldset>
          <label for="name">Topic Name:</label>
          <input type="text" id="name" pattern="^[A-Za-z0-9 ]{1,255}$" placeholder="Datatype in java" name="topic_name" required>

          <label for="email">Topic Link:</label>
          <input type="text"  placeholder="Youtube Link" id="mail" name="topic_link" required>

          <label for="email">Questions</label>
          <textarea type="text" placeholder="Seprated by ','" rows="10" id="mail" name="topic_ques" required></textarea>

          <fieldset>
            <label for="job">Language:</label>
            <select id="job" name="topic_lang">
              <optgroup label="Web">
                <option value="html" selected>HTML</option>
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="java">JAVA</option>
                <option value="python">PYTHON</option>
                <option value="php">PHP</option>
              </optgroup>
            </select>
          </fieldset>
          <button type="submit" 
                        class="flex items-center justify-between w-full px-6 py-2 text-sm font-medium leading-5 text-white  transition-colors duration-150  bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        style="margin-top: 10px;" onclick='document.getElementById("form").submit()'>
                        Upload
                        <span class="ml-2" aria-hidden="true">-></span>
                      </button>
      </form>
    </div>
  </div>
</body>

</html>
<style>
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }

  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }

  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  label.light {
    font-weight: 300;
    display: inline;
  }

  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }

  @media screen and (min-width: 480px) {

    form {
      max-width: 480px;
    }

  }
</style>